---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Reader!</h1>
			<p> Hi there! I'm <strong>Sharmi</strong>, a founder, a programmer turned marketer.</p>
			<p>
				Welcome to the my online residence.
			</p>
			<p>
				These are blogposts that I have written over the years. So your will find blogs on varied topics. I hope you find them useful. 
			</p>
			<p>You will find everything that I found interesting over the years here.</p>

			<h3>My Current Activities</h3>
			<ul>
				<li>Building <a href="https://reputebee.com">ReputeBee</a>. This takes up most of my time :)</li>
				<li>Organizing the Book Club at Product Marketing Alliance </li>
				<li>Sharing my thoughts at <a href="https://www.linkedin.com/in/sharm1la/">LinkedIn</a></li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
